absl-py==2.3.1
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
alembic==1.17.2
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
asttokens==3.0.0
attrs==25.4.0
audioread==3.1.0
blinker==1.9.0
boltons==23.0.0
braceexpand==0.1.7
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
comm==0.2.3
contourpy==1.3.3
cuda-bindings==13.1.1
cuda-pathfinder==1.3.3
cycler==0.12.1
Cython==3.2.4
cytoolz==1.1.0
datasets==4.4.2
debugpy==1.8.17
decorator==5.2.1
dill==0.4.0
diskcache==5.6.3
editdistance==0.8.1
einops==0.8.1
executing==2.2.1
fiddle==0.3.0
filelock==3.20.0
fire==0.7.1
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.45
graphviz==0.21
greenlet==3.3.0
grpcio==1.76.0
h11==0.16.0
h5py==3.15.1
halo==0.0.31
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
hydra-core==1.3.2
HyperPyYAML==1.2.2
idna==3.11
indic_numtowords==1.1.0
inflect==7.5.0
intervaltree==3.2.1
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jiwer==3.1.0
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kaldi-python-io==1.2.2
kaldialign==0.9.1
kiwisolver==1.4.9
lazy_loader==0.4
lhotse==1.32.1
libcst==1.8.6
librosa==0.11.0
lightning==2.4.0
lightning-utilities==0.15.2
lilcom==1.8.1
llvmlite==0.46.0
log-symbols==0.0.14
loguru==0.7.2
Mako==1.3.10
Markdown==3.10
MarkupSafe==3.0.3
marshmallow==4.2.0
matplotlib==3.10.7
matplotlib-inline==0.1.7
mediapy==1.1.6
ml_dtypes==0.5.4
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
multiprocess==0.70.18
narwhals==2.8.0
nemo-toolkit @ git+https://github.com/NVIDIA/NeMo.git@208cf2d0f9c0b4cd0f655358ff58a542b7f8b746
nest-asyncio==1.6.0
networkx==3.6.1
numba==0.63.1
numba-cuda==0.15.1
numexpr==2.13.1
numpy==2.3.4
nv-one-logger-core==2.3.1
nv-one-logger-pytorch-lightning-integration==2.3.1
nv-one-logger-training-telemetry==2.3.1
omegaconf==2.3.0
onnx==1.20.0
optuna==4.6.0
overrides==7.7.0
packaging==24.2
pandas==2.3.3
parso==0.8.5
peft==0.18.0
pillow==11.3.0
platformdirs==4.4.0
plotly==6.3.1
pooch==1.8.2
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==5.29.5
psutil==7.1.0
pure_eval==0.2.3
pyannote-core==6.0.1
pyannote-database==6.1.1
pyannote-metrics==4.0.0
pyarrow==21.0.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
pyfiglet==1.0.2
Pygments==2.19.2
pyloudnorm==0.2.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytorch-lightning==2.6.0
pytz==2025.2
pywin32==311
PyYAML==6.0.3
pyzmq==27.1.0
RapidFuzz==3.14.3
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
resampy==0.4.3
rpds-py==0.27.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
sacremoses==0.1.1
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.16.3
sentencepiece==0.2.1
sentry-sdk==2.49.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sortedcontainers==2.4.0
sounddevice==0.5.5
soundfile==0.13.1
sox==1.5.0
soxr==1.0.0
spinners==0.0.24
SQLAlchemy==2.0.45
stack-data==0.6.3
streamlit==1.50.0
StrEnum==0.4.15
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.6.0
tokenizers==0.21.4
toml==0.10.2
toolz==1.1.0
torch==2.9.1
torchaudio==2.9.1
torchcodec==0.7.0
torchmetrics==0.11.4
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.53.3
typeguard==4.4.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wandb==0.23.1
watchdog==6.0.0
wcwidth==0.2.14
webdataset==1.0.2
Werkzeug==3.1.4
wget==3.2
whisper_normalizer==0.1.12
win32_setctime==1.2.0
wrapt==2.0.1
xxhash==3.6.0
yarl==1.22.0
